<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <h1>Embassy Documentation</h1>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://github.com/embassy-rs/embassy" target="_blank">GitHub</a>
        <a class="navbar-item" href="https://matrix.to/#/#embassy:matrix.org" target="_blank">Chat</a>
        <a class="navbar-item" href="https://book.embassy.rs">Documentation</a>
      </div>
    </div>
  </nav>
</header>
